<!DOCTYPE html>
<html>
<title> </title>
<h1 class="headerContent">QUADRANT GUEST BOOK</h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
  <button (click)="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
  <a [routerLink]="['/dashboard']" class="w3-bar-item w3-button">DASHBOARD</a>
  <a [routerLink]="['/createuser']"class="w3-bar-item w3-button">ADD GUEST</a>
 </div>



<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-left" (click)="openLeftMenu()">&#9776;</button>
  
</div>
     
</body>

</html>

